*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.margin1 {
  margin: 0.5vw 0.4vw;
  padding: 0;
}

.titulo {
  display: flex;
  justify-content: center;
  margin: 0.5vh 0.4vw;
  padding: 0;
}
